@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";
@import "flatpickr/dist/flatpickr.min.css";
@import "flatpickr/dist/themes/dark.css";

@theme {
  --font-main: "Inter", sans-serif;
  --font-secondary: "Playfair Display", sans-serif;
}

/* @utility rounded-hero {
  border-top-right-radius:40px;
  border-bottom-right-radius:40px;
} */

@utility lining-numbers {
  font-variant-numeric: lining-nums proportional-nums;
}

@utility glow-hover {
  box-shadow: 0 4px 36px 0 rgba(180, 83, 9, 0.05);
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* border-radius: 24px; */
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    transition: background-color 0.2s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(180, 83, 9, 0.7);
  }
}


.thumbDetailSwiper .swiper-slide.swiper-slide-thumb-active img{
  opacity: 1 !important;
}
.thumbDetailSwiper .swiper-slide img{
  opacity: 0.4 !important;
}


#reservar-btn:disabled{
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
  opacity: 0.6;
}

/* .swiper-slide-thumb-active {
  border-color: #b45309 !important; 
  box-shadow: 0 0 15px rgba(180, 83, 9, 0.4); 
  transition: all 0.3s ease;
}


.swiper-slide-thumb-active img {
  
} */